/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

:root {
    --main-color-one: #133159;    
    --heading-color: #333333;
    --paragraph-color: #333333;
    --body-font: 'Poppins', sans-serif;
    --heading-font: 'Poppins', sans-serif;    
}

$white: #fff;
$hover: #3C7EF3;
$hover2: #68EBCA;
$gray: #E5E5E5;
$darkgray: #E5E8EF;
$lightgray: #F6F7FB;

body {
    margin: 0;
    color: var(--paragraph-color);
    overflow-x: hidden;
    font-family: var(--body-font);
}

h1 {
    font-size: 96px;
    line-height: 1.4rem;
}

h2 {
    font-size: 60px;
    line-height: 1.4rem;
}

h3 {
    font-size: 48px;
    line-height: 1.4rem;
}

h4 {
    font-size: 32px;
    line-height: 1.4rem;
}
h5 {
    font-size: 24px;
    line-height: 1.4rem;
}
h6 {
    font-size: 20px;
    line-height: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

p {
    color: var(--paragraph-color);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
    color: var(--paragraph-color);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: inherit;
}

pre {
    word-break: break-word;
}

a i {
    padding: 0 2px;
}

img {
    max-width: 100%;
}

ol {
    counter-reset: counter;
    padding-left: 0;
}

ol li {
    list-style: none;
    margin-bottom: 1rem;
}

ol li:before {
    counter-increment: counter;
    content: counter(counter);
    font-weight: 500;
    margin-right: 10px;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}


/*input and button type focus outline disable*/

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

